@font-face {
  font-family: 'Source Serif Pro';
  src: local('Linux Libertine');
}

/*html.is-in-iframe .ChapterContent_reader__Dt27r > div {
	font-size: 28px !important;
}*/

/* 只在 bible.com 係 iframe 載入時正套用个樣式 */
/* (這需要搭配 JavaScript 在 bible.com 的 html 標籤上加入 is-in-iframe class) */


/* --- 強制並列聖經顯示 --- */

/* 1. 強制並列閱讀个外層容器使用雙欄格線佈局 */
/* 這會選擇該有 grid, grid-cols-1, md:grid-cols-2 等 class 个容器 */
html.is-in-iframe div.grid.grid-cols-1.md\:grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  /* 強制佢變成雙欄 */
}

/* 2. 強制並列閱讀个第二欄顯示出來 */
/* 這條規則選擇有 hidden 同 md:block class 个元素 (通常係第二欄) */
html.is-in-iframe .hidden.md\:block {
  display: block !important;
}

html.is-in-iframe {

  .vid2408,
  .vid3619,
  .vid1 {
    line-height: 20px !important;
  }

  /*	.vid2408 {
		font-size: 81%;
	}
	.vid3619 {
		font-size: 85%;
	}
	.vid1 {
		font-size: 80%;
	} */

  .ChapterContent_p__dVKHb * {
    line-height: 1.8em;
  }

  .ChapterContent_note__YlDW0::before {
    background-size: 1em;
    height: 1em;
    width: 1em;
    margin: 0.1em;
  }
}

.w-\[90vw\].flex.sticky.bottom-\[30\%\].z-1.justify-between.pointer-events-none.mx-auto.max-w-\[1300px\] {
  display: none;
}

.ChapterContent_reader__Dt27r h1 {
  font-family: "Chiayi City Font", sans-serif;
}

.ChapterContent_heading__xBDcs {
  font-family: 'jf金萱那堤2.0', sans-serif;
}

/* 同官方頁頂、頁尾介面囥起來 */
header,
/* .flex.justify-center.sticky.top-\[72px\].md\:top-\[80px\].w-full.z-docked.bg-white.border.border-b-small.border-gray-15, */
nav,
.flex-col.md\:w-\[480px\].sm\:w-\[100\%\].-translate-x-\[50\%\].fixed.sm\:bottom-6.lg\:bottom-0.p-3.bg-white.rounded-t-2.shadow-light-2.space-y-1.transition.visible\:-translate-y-10.translate-y-\[100\%\] {
  display: none !important;
}

main {
  margin-block-start: unset !important;
  margin-block-end: unset !important;
}

.top-\[72px\] {
  top: 0 !important;
}

footer {
  display: none !important;
}

.pbe-12 {
  padding-bottom: unset !important;
}